@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Inter font */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  height: 100vh;
}
#leadingSpaced {
  line-height: 130%;
}
